@model IEnumerable<OrderPro.Model.BundleDiscount>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.VolumeFrom)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.VolumeTo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DiscountPercent)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ServiceCategory)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsExpired)
        </th>
      
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.VolumeFrom)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.VolumeTo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DiscountPercent)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ServiceCategory)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IsExpired)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Reference)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new {  id=item.Reference}) |
            @Html.ActionLink("Details", "Details", new { id=item.Reference }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Reference })
        </td>
    </tr>
}

</table>
