@model OrderPro.Model.AddOnService

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>AddOnService</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Description)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Description)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Name)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Name)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Rate)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Rate)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Status)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Status)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Currency)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Currency)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.AllowDiscount)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.AllowDiscount)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.ServiceCategory)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ServiceCategory)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Reference)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Reference)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id=Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
