@model OrderPro.Model.OrderDelivery

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>OrderDelivery</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Name)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Name)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Description)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Description)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.AdditionalRate)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.AdditionalRate)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Hours)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Hours)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Reference)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Reference)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id=Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
