@model List<OrderPro.UI.Models.GetPaymentInfo_Result>
@{
    TempData["PaymentModel"] = ViewBag.PaymentModel;  
    TempData["InvoiceNo"] = ViewBag.InvoiceNo;
    TempData["InvoiceModel"] = ViewBag.InvoiceModel;
    TempData["UserEmail"] = ViewBag.UserName;
    TempData["ContactPerson"] = ViewBag.ContactPerson;
    
    int AddOnsHead = 0;
    int Complxity = 0;
    int Service = 0;
    int Delivery = 0;
    int grand = 0;
    int nettotal = 0;

 
}



<div class="row text-xs-center">
    <div class="row text-center padding">
        <h2 class="hed1">Summary of your order</h2>
        <h5 class="hed2">See the summary and check if everything is correct.<br></h5>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <div class="table-responsive span7 center">
                <table summary="This table shows order price chart" class="table table-hover">
                    <tbody>
                        @foreach (var item in Model)
                        {
                            if (item.Header == "Service")
                            {
                                if (Service == 0)
                                {
                            <tr>
                                <td class="text-left left">@item.Header</td>
                                <td class="text-center">Qty</td>
                                <td class="text-center">Rate</td>
                                <td class="text-center">Amount(USD)</td>
                            </tr>                        
                         Service++;
                     }
                    
                            <tr>
                                <td class="text-right" style="font-size: 14px">@item.Name</td>
                                <td class="text-center">@item.TotalImages</td>
                                <td class="text-center">@Math.Round(item.Rate.Value, 2)</td>
                                <td class="text-center">@Math.Round(item.Amount.Value, 2)</td>
                            </tr>
                 }


                 else if (item.Header == "Complexity")
                 {

                     if (Complxity == 0)
                     {
                         Complxity = 1;
                            <tr>
                                <td colspan="4" class="text-left left">@item.Header</td>
                            </tr>
                     }
                            <tr>
                                <td class="text-right">@item.Name</td>
                                <td class="text-center">@item.TotalImages</td>
                                <td class="text-center">@Math.Round(item.Rate.Value, 2)</td>
                                <td class="text-center">@Math.Round(item.Amount.Value, 2)</td>
                            </tr>
                 }
                 else if (item.Header == "Add-Ons")
                 {

                     if (AddOnsHead == 0)
                     {
                         AddOnsHead = 1;
                            <tr>
                                <td colspan="4" class="text-left left">@item.Header</td>
                            </tr>
                        
                     }
                    
                            <tr>
                                <td class="text-right">@item.Name</td>
                                <td class="text-center">@item.TotalImages</td>
                                <td class="text-center">@Math.Round(item.Rate.Value, 2)</td>
                                <td class="text-center">@Math.Round(item.Amount.Value, 2)</td>
                            </tr>
                     
                                   
                 }
                 else if (item.Header == "Total: ")
                 { 
                            <tr>
                                <td class="text-left green">@item.Header</td>
                                <td class="text-center"></td>
                                <td class="text-center"></td>
                                <td class="text-center">@Math.Round(item.Amount.Value, 2)</td>
                            </tr>
                 
                 }
                 else if (item.Header == "Delivery")
                 {

                     if (Delivery == 0)
                     {
                         Delivery = 1;
                            <tr>
                                <td colspan="4" class="text-left left">@item.Header</td>
                            </tr>
                        
                     }
                            <tr>
                                <td class="text-right">@item.Name</td>
                                <td class="text-center"></td>
                                <td class="text-center">@Math.Round(item.Rate.Value, 2)</td>
                                <td class="text-center">@Math.Round(item.Amount.Value, 2)</td>
                            </tr>
                 }

                 else if (item.Header == "Grand Total:" && grand == 0)
                 {
                     grand++;
                            <tr>
                                <td class="text-left">@item.Header</td>
                                <td class="text-center"></td>
                                <td class="text-center"></td>
                                <td class="text-center">@Math.Round(item.Amount.Value, 2)</td>
                            </tr>
                 }
                 else if (item.Header == "Discount" && item.Amount.Value > 0)
                 {
                                          
                            <tr>
                                <td class="text-left green">@item.Header</td>
                                <td class="text-center"></td>
                                <td class="text-center">@item.Name</td>
                                <td class="text-center">-@Math.Round(item.Amount.Value, 2)</td>
                            </tr>
                 }
                 else if (item.Header == "Net Amount:" && nettotal == 0)
                 {
                     nettotal++;
                    
                            <tr>
                                <td class="text-left left">@item.Header</td>
                                <td class="text-center"></td>
                                <td class="text-center"></td>
                                <td class="text-center">@Math.Round(item.Amount.Value, 2)</td>
                            </tr>
                 
                 }

                 }
                    </tbody>
                </table>
               
            </div>


            <div class="row PaymentIns">
                    <h3>
                    Payment Instruction
                    </h3>
                  
                    
                <p class="paymentPera">
                    <span>Please pay the Net Amount above through paypal at payment@ingenstudio.com. 
                    </span>

                </p>
                <p class="paymentPera">
                    <span>Please enter the Order No: <span class="OrderClass">@ViewBag.InvoiceNo</span> as the reference in your transaction.
                    </span>
                </p>       
                </div>


        </div>
    </div>
</div>


