@model IEnumerable<OrderPro.Model.MainService>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Rate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Status)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Currency)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AllowDiscount)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ServiceCategory)
        </th>
       
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Rate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Status)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Currency)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AllowDiscount)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ServiceCategory)
        </td>
       
        <td>
            @Html.ActionLink("Edit", "Edit", new {id=item.Reference }) |
            @Html.ActionLink("Details", "Details", new { id=item.Reference }) |
            @Html.ActionLink("Delete", "Delete", new {id=item.Reference })
        </td>
    </tr>
}

</table>
